.ConteinerCard{
    position: relative;
    bottom: 200px;
    left: 400px;
    width: 446px;
    height: 600px;
    background-color: #FA7453;
    margin-left: 154px;
    margin-top: -365px;
    padding-top: 25px;
    border-radius: 15px;
}

.TituloCard{
    text-align: left;
    margin-left: 45px; 
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 52px;
    color: white;
}

.pCard1{
    margin-left: 45px;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 34px;
    color: white;
}

.precioymes{
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-top: -65px;
}

.precio{
    font-style: normal;
    font-size: 60px;
    color: white;
}

.mes{
    align-items: center;
    margin-left: 15px;
    font-size: 20px;
    text-align: left;   
    margin-top: 25px;
    color: white; 
}

.Button1{ 
    align-items: center;
    background-color: black;
    width: 333px;
    height: 61px;
    margin-top: -55px;
    margin-bottom: 10px;
    border-radius: 10px;

}

.Button1Inside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
.IconApple{
    background-image: url(IconApple.svg);
    background-repeat:  no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.TxtButton1{
    color: white;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.18px;
    line-height: 32px;
}

.Button1:hover{
    background-color: #66E2DC;
}

.Button2{
    align-items: center;
    background-color: white;
    width: 333px;
    height: 61px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Button2Inside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
.IconAndroid{
    background-image: url(IconAndroid.svg);
    background-repeat:  no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
 
}

.TxtButton2{
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.18px;
    line-height: 32px;
}

.Button2:hover{
    background-color: #FFB964;
}